.card-main {
  padding: 0.8rem;
  background-color: white;
  border-radius: 10px;
  max-width: 250px;
  max-height: 500px;
  width: 90%;

  .card-image {
    text-align: center;
    border-bottom: 1px solid black;

    img {
      width: 150px;
      height: 200px;
      object-fit: contain;
    }
  }

  .card-title {
    p {
      text-align: center;
    }
  }

  .card-rating-and-amount {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .card-product-quantity_cart {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    .card-quantity {
      margin: auto 0;
      button {
        border-radius: 50%;
        border: 1px solid black;
        outline: none;
        margin: 0 5px;
        &:disabled {
          border: none;
        }
      }
    }
    .card-button {
      cursor: pointer;
      border-radius: 6px;
      padding: 8px 5px;
      // background-color: red;
      // color: white;
      border: none;
      outline: none;
    }
  }
}
