.card-main {
  padding: 0.8rem;
  background-color: white;
  border-radius: 10px;
  max-width: 250px;
  max-height: 500px;
  width: 90%;

  .card-image {
    text-align: center;
    border-bottom: 1px solid black;

    img {
      width: 150px;
      height: 200px;
      object-fit: contain;
    }
  }

  .card-title {

    p {
      text-align: center;
    }
  }

  .card-rating-and-amount {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // product-rating {
    // }
    .product-amount {
    }
  }
}
